body {
  background-color: hsl(217, 54%, 11%);
  width: 1440px;
  height: 600px;
  font-family: 'Outfit', sans-serif;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  position: relative;
  top: 50px;
}
.image {
  text-align: center;
}
img {
  width: 250px;
  height: 250px;
  margin-top: 15px;
  border-radius: 20px;
}

.equi {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.text {
  margin-left: 25px;

}

.first {
  color: hsl(215, 51%, 70%);
  font-weight: 200;
}
.left, .right {
  font-size: 12px;
}
.left {
  float: left;
  color: hsl(178, 100%, 50%);
}
.right {
  color: hsl(215, 51%, 70%);
  margin-left: 150px;
}
.line {
  border-bottom: 0.5px solid White;
  width: 260px;
}
.creation {
  margin-top: -20px;
  font-size: 12px;
}
.creation img {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: thin;
}
.creation span {
  position: relative;
  top: -10px;
  left: 10px;
}
.firstspan {
  color: hsl(215, 51%, 70%);
}
.jules {
  color: hsl(0, 0%, 100%);
}
